.sidebar {
  width: 300px;
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-out-button {
  background: none;
  border: none;
  color: #1b3012;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

.sign-out-button:hover,
.chat-item:hover {
  background-color: #c9e2bb;
  border-radius: 8px;
  cursor: pointer;
  color: #1b3012;
}

.sidebar-content {
  flex: 1;
  margin-top: 20px;
  overflow: auto;
}

.chat-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-heading {
  padding: 1rem 10px;
  font-weight: 600;
}

.active {
  background-color: #c9e2bb;
}

.sidebar-footer {
  padding-top: 10px;
}
